<nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between 
    py-3 mb-4 border-bottom bg-dark">
  <div class="col-md-3  mb-2 mb-md-0">
    <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none ">
      <img src="../../../assets/img/nodo.png" aria-label="Bootstrap" class="bi my-auto mx-5" width="45" role="img"
        alt="">
    </a>
  </div>
  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="#" class="nav-link px-2 link-danger text-white">Home</a></li>
    <li><a href="#" class="nav-link px-2 link-danger text-white">Features</a></li>
    <li><a href="#" class="nav-link px-2 link-danger text-white">Pricing</a></li>
    <li><a href="#" class="nav-link px-2 link-danger text-white">FAQs</a></li>
    <li><a href="#" class="nav-link px-2 link-danger text-white">About</a></li>
  </ul>

  <div class="col-md-3 text-end me-3">
    <button type="button" class="btn btn-outline-danger me-2 text-white" [routerLink]="['/login']">Login</button>
    <button type="button" class="btn btn-danger" [routerLink]="['/register']">Sign-up</button>
  </div>
  
</nav>


