<nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between 
    py-3 mb-4 border-bottom bg-dark">
  <div class="col-md-3  mb-2 mb-md-0">
    <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none ">
      <img src="../../../assets/img/nodo.png" aria-label="Bootstrap" class="bi my-auto mx-5" width="45" role="img"
        alt="">
    </a>
  </div>
  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a [routerLink]="['/catalogo']" class="nav-link px-2 link-danger text-white">Catálogo</a></li>
    <li><a href="#" class="nav-link px-2 link-danger text-white">Features</a></li>
    <li><a href="#" class="nav-link px-2 link-danger text-white">Pricing</a></li>
    <li><a href="#" class="nav-link px-2 link-danger text-white">FAQs</a></li>
    <li><a href="#" class="nav-link px-2 link-danger text-white">About</a></li>
  </ul>

  <div class="col-md-3 text-end me-3">
    <ng-container *ngIf="userLoginOn; else showLoginButtons">
      <div class="dropdown me-4">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Cuenta
        </button>
        <div class="dropdown-menu text-black bg-dark" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/perfil">Perfil</a>
          <a class="dropdown-item" [routerLink]="['/carrito']">Carrito</a>
          <button class="dropdown-item bg-danger text-white" (click)="logout()">Cerrar Sesión</button>
        </div>
      </div>
    </ng-container>
    <ng-template #showLoginButtons>
      <button type="button" class="btn btn-outline-danger me-2 text-white" [routerLink]="['/login']">Iniciar Sesión</button>
      <button type="button" class="btn btn-danger" [routerLink]="['/register']">Registrarse</button>
    </ng-template>
  </div>

</nav>