<footer class="mt-4 bg-black pb-1 pt-1">
    <div class="row my-2">
        <div class="col-12 col-md">
            <small class="d-block mb-3 text-white">© 2023</small>
        </div>
        <div class="col-6 col-md">
            <h5 class="">Features</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none text-white " href="#">Cool stuff</a></li>
                <li><a class="link-secondary text-decoration-none text-white" href="#">Random feature</a></li>
                <li><a class="link-secondary text-decoration-none text-white" href="#">Team feature</a></li>
                <li><a class="link-secondary text-decoration-none text-white" href="#">Stuff for developers</a></li>
                <li><a class="link-secondary text-decoration-none text-white" href="#">Another one</a></li>
                <li><a class="link-secondary text-decoration-none text-white" href="#">Last time</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5 class="text-white">Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none text-white" href="#">Resource name</a></li>
                <li><a class="link-secondary text-decoration-none text-white" href="#">Resource</a></li>
                <li><a class="link-secondary text-decoration-none text-white" href="#">Another resource</a></li>
                <li><a class="link-secondary text-decoration-none text-white" href="#">Final resource</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5 class="text-white">Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none text-white" href="#">Business</a></li>
                <li><a class="link-secondary text-decoration-none text-white" href="#">Education</a></li>
                <li><a class="link-secondary text-decoration-none text-white" href="#">Government</a></li>
                <li><a class="link-secondary text-decoration-none text-white" href="#">Gaming</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5 class="text-white">About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none text-white" href="#">Team</a></li>
                <li><a class="link-secondary text-decoration-none text-white" href="#">Locations</a></li>
                <li><a class="link-secondary text-decoration-none text-white" href="#">Privacy</a></li>
                <li><a class="link-secondary text-decoration-none text-white" href="#">Terms</a></li>
            </ul>
        </div>
    </div>
</footer>