<footer class="mt-4 bg-black pb-1 pt-1">
  <div class="container-fluid footer text-white mt-5 pt-5 px-0 position-relative overlay-top">
    <div class="row mx-0 pt-5 px-sm-3 px-lg-5 mt-4">
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Contáctanos</h4>
            <p><i class="fa fa-map-marker-alt mr-2"></i> Dirección: Mexico y Curazao Centro de Negocios Quo Hub.</p>
            <p><i class="fa fa-phone-alt mr-2"></i> (07) 2102999</p>
            <p class="m-0"><i class="fa fa-envelope mr-2"></i> info&#64;electritelecom.com</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Síguenos</h4>
            <p>Descubre el nuevas rutas con Nodo Travel</p>
            <div class="d-flex justify-content-start">
                <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-lg btn-outline-light btn-lg-square" href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Horario de Atención</h4>
            <div>
                <h6 class="text-white text-uppercase">Lunes - Viernes</h6>
                <p>6.00 AM - 10.00 PM</p>
                <h6 class="text-white text-uppercase">Sábado - Domingo</h6>
                <p>8.00 AM - 8.00 PM</p>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center text-white border-top mt-4 py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
        <p class="mb-2 text-white">Derechos de Autor &copy; <a class="font-weight-bold" href="#"></a>. Todos los Derechos Reservados.</p>
    </div>
  </div>
</footer>
