<!-- Sección Nosotros -->
<section class="container my-5">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="col-12">
        <h1 class="text-center my-4 text-primary text-uppercase font-weight-bold display-4 " id="nosotros">NOSOTROS</h1>
        <p class="my-4 text-justify">
          Nodo Travel surgió como un desafío universitario que buscaba ofrecer una solución sencilla y eficiente para la renta de bicicletas,
          tanto en entornos urbanos como rurales.
        </p>
        <h2 class="text-dark my-4">Misión:</h2>
        <p class="my-4 text-justify">
          Registrar y entender las necesidades de nuestros clientes potenciales esencial para nuestro servicio de alquiler de bicicletas en Nodo Travel.
          Nos comprometemos a organizar y desarrollar servicios personalizados, mejorando continuamente para garantizar reservas y alquileres confiables a través de un
          proceso eficaz y fácil de usar. Contribuimos al desarrollo integral al facilitar la movilidad sostenible y saludable a través de nuestra plataforma.
        </p>
        <h2 class="text-dark my-4">Visión:</h2>
        <p class="my-4 text-justify">
          Destacarnos como líderes en la transformación de la movilidad urbana y rural. Queremos que nuestra plataforma sea reconocida por su eficiencia
          y confiabilidad, fomentando el uso masivo de la bicicleta como medio de transporte. Implementamos un cronograma eficiente de mantenimiento y reparación de bicicletas,
          asegurando su disponibilidad continua. Utilizamos tecnologías como GPS para optimizar la gestión de la ubicación de bicicletas en Loja, adaptándonos a las necesidades
          cambiantes de los usuarios y de la ciudad.
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="embed-responsive embed-responsive-16by9">
        <img class="img-fluid" src="assets/img/nodo1.png" alt="">
      </div>
    </div>
  </div>
</section>

<div class="container">
  <header class="row">
    <div class="col-sm-12 col-md-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" width="100%" height="315" src="https://www.youtube.com/embed/CkJmpMP4Woo?si=dsfFvzTPTbZW8JHF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="embed-responsive-item" width="100%" height="315" src="https://www.youtube.com/embed/ZjUORKP0CMw?si=558qpGW8rPUxpgse" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <article class="text-container my-3 mx-3 mx-md-3 mx-xl-5">
        <h1 class="centrado text-primary text-justify">¡Descubre el Mundo en Dos Ruedas!</h1>

        <section>
          <h3 class="larger-text text-justify">Bienvenido a nuestro fascinante mundo de aventuras sobre bicicleta</h3>
          <p class="larger-text text-justify">
            Cada pedaleo es un viaje hacia lo desconocido, explorando nuevos caminos y descubriendo lugares increíbles mientras pedaleas con nosotros.
            En nuestra página, te ofrecemos un emocionante viaje a través de la ciudad, donde la movilidad se encuentra con la sostenibilidad.
          </p>
        </section>

        <section>
          <h3 class="larger-text text-justify">Descubre una forma más ecológica, saludable y emocionante de moverte por tu entorno</h3>
          <p class="larger-text text-justify">
            Contribuye a la sostenibilidad pedaleando por la ciudad. Imagina recorrer calles llenas de vida mientras cuidas del
            planeta. Te invitamos a descubrir esta experiencia única sobre dos ruedas.
          </p>
        </section>

        <section>
          <h3 class="larger-text">Únete a nuestra comunidad ciclista y haz de cada viaje una aventura inolvidable</h3>
          <p class="larger-text text-justify">
            Organizamos paseos en grupo, compartimos valiosos consejos sobre el mantenimiento de bicicletas y celebramos la alegría de rodar juntos.
            La diversión sobre dos ruedas nunca termina. ¡Únete a nosotros y forma parte de esta experiencia única sobre la bicicleta!
          </p>
        </section>
      </article>
    </div>

  </header>
</div>
<div class="container">
  <h1 class="text-center my-4 text-primary font-weight-bold display-4">TARIFAS DE ALQUILER</h1>
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped text-center">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Tipo de Bicicleta</th>
              <th scope="col">Precio por Hora</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Bicicleta de Montaña</td>
              <td>$5.00</td>
            </tr>
            <tr>
              <td>Bicicleta Urbana</td>
              <td>$6.00</td>
            </tr>
            <tr>
              <td>Bicicleta Eléctrica</td>
              <td>$8.00</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="text-dark mt-3 text-center lead">* Precios estándar en dólares. Pueden variar según la ubicación y la duración del alquiler.</p>
    </div>
  </div>
</div>

<div class="container-fluid py-5">
  <div class="container">
    <div class="section-title text-center mb-5">
      <h1 class="text-primary text-uppercase" style="letter-spacing: 5px;">Rutas Recomendadas</h1>
      <h2 class="display-4">Descubre nuevas aventuras en bicicleta</h2>
    </div>

    <div class="row justify-content-center">
      <!-- Ruta 1 -->
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card route-card">
          <!-- Inserta la imagen de la ruta aquí -->
          <div class="route-image">
            <img class="card-img-top img-fluid" src="assets/img/ruta1.jpg" alt="Ruta 1">
          </div>
          <div class="card-body route-details">
            <h4 class="card-title text-primary">Vuelta al Villonaco</h4>
            <p class="card-text">
              <strong>Actividad:</strong> Bicicleta de Carretera<br>
              <strong>Cerca de:</strong> San Pedro, Loja (Ecuador)<br>
              <strong>Distancia:</strong> 42.51km<br>
              <strong>Desnivel:</strong> +1743m
            </p>
          </div>
        </div>
      </div>

      <!-- Ruta 2 -->
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card route-card">
          <!-- Inserta la imagen de la ruta aquí -->
          <div class="route-image">
            <img class="card-img-top img-fluid" src="assets/img/ruta2.jpg" alt="Ruta 2">
          </div>
          <div class="card-body route-details ">
            <h4 class="card-title text-primary">La capilla - El Cisne</h4>
            <p class="card-text">
              <strong>Actividad:</strong> Bicicleta de Carretera<br>
              <strong>Cerca de:</strong> Purucato, Loja (Ecuador)<br>
              <strong>Distancia:</strong> 57.79km<br>
              <strong>Desnivel:</strong> +1525m
            </p>
          </div>
        </div>
      </div>

      <!-- Ruta 3 -->
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card route-card">
          <!-- Inserta la imagen de la ruta aquí -->
          <div class="route-image">
            <img class="card-img-top img-fluid" src="assets/img/ruta3.jpg" alt="Ruta 3">
          </div>
          <div class="card-body route-details">
            <h4 class="card-title text-primary">Ruta Lojana</h4>
            <p class="card-text">
              <strong>Actividad:</strong> Bicicleta de Carretera<br>
              <strong>Cerca de:</strong> Loja, Loja (Ecuador)<br>
              <strong>Distancia:</strong> 2.85km<br>
              <strong>Desnivel:</strong> +12m
            </p>

          </div>
        </div>
      </div>

      <!-- Puedes continuar con más rutas siguiendo el mismo formato -->
    </div>
  </div>
</div>
<section class="container-fluid my-5 p-0">
  <h1 class="text-center my-4 text-primary font-weight-bold display-4" id="preguntas">PREGUNTAS FRECUENTES</h1>
  <br>
  <div class="row mx-0">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <div class="faq-item bg-light  rounded mb-4">
        <h4 class="text-primary mb-3">¿Cómo funciona el servicio de renta de bicicletas de Nodo Travel?</h4>
        <p class="text-dark">Explicación detallada del proceso de registro, búsqueda y alquiler de bicicletas a través de nuestra aplicación web.</p>
      </div>
      <div class="faq-item bg-light rounded mb-4">
        <h4 class="text-primary mb-3">¿Qué tipo de bicicletas puedo alquilar?</h4>
        <p class="text-dark">Puedes alquilar bicicletas de tres tipos: Tradicional, Eléctrica y de Montaña. Cada una ofrece una experiencia única para adaptarse a tus preferencias y necesidades de viaje.</p>
      </div>
      <div class="faq-item bg-light rounded mb-4">
        <h4 class="text-primary mb-3">¿Cuánto cuesta alquilar una bicicleta?</h4>
        <p class="text-dark">Después de la tarifa base, solo pagas por el tiempo de uso o de acuerdo al plan adquirido.</p>
      </div>
      <div class="faq-item bg-light rounded mb-4">
        <h4 class="text-primary mb-3">¿Hay estaciones específicas para recoger y devolver las bicicletas?</h4>
        <p class="text-dark">Sí, contamos con estaciones designadas para recoger y devolver las bicicletas, lo que facilita tu experiencia de alquiler y contribuye a mantener la orden y disponibilidad de las bicicletas.</p>
      </div>
      <div class="faq-item bg-light rounded mb-4">
        <h4 class="text-primary mb-3">¿Cómo puedo pagar el servicio de alquiler de bicicletas?</h4>
        <p class="text-dark">Aceptamos pagos a través de diversas plataformas, incluyendo tarjetas de crédito y servicios de pago en línea, para brindarte opciones convenientes y seguras.</p>
      </div>
    </div>
  </div>
</section>
<div class="container-fluid py-5">
  <div class="container">
    <div class="section-title text-center mb-5">
      <h1 class="text-primary text-uppercase" style="letter-spacing: 5px;">Testimonios</h1>
      <h2 class="display-4">Lo que dicen nuestros clientes</h2>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card testimonial-card mx-3 align-items-center">
          <img class="card-img-top img-fluid rounded-circle" src="assets/img/testimonial-1.JPG" alt="Cliente 1">
          <div class="card-body text-center">
            <h4 class="card-title text-primary">José Carrasco</h4>
            <p class="card-text">Tuve una experiencia increíble recorriendo las montañas con una bicicleta de montaña alquilada. ¡El servicio fue excelente y las bicicletas estaban en perfecto estado!</p>
            <i class="text-muted d-block">Amante de las Bicicletas de Montaña</i>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card testimonial-card mx-3 align-items-center">
          <img class="card-img-top img-fluid rounded-circle" src="assets/img/testimonial-2.JPG" alt="Cliente 2">
          <div class="card-body text-center">
            <h4 class="card-title text-primary">Isabel Mendoza</h4>
            <p class="card-text">La variedad de bicicletas urbanas disponibles para alquilar es asombrosa. Encontré la bicicleta perfecta para explorar la ciudad. ¡Altamente recomendado!</p>
            <i class="text-muted d-block">Ciclista Urbana Apasionada</i>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card testimonial-card mx-3 align-items-center">
          <img class="card-img-top img-fluid rounded-circle" src="assets/img/testimonial-3.JPG" alt="Cliente 3">
          <div class="card-body text-center">
            <h4 class="card-title text-primary">Miguel Cevallos</h4>
            <p class="card-text">Alquilé una bicicleta eléctrica y mi aventura fue aún más emocionante. ¡Fue una experiencia increíble descubrir nuevos lugares sin esfuerzo!</p>
            <i class="text-muted d-block">Aventurero Ciclista</i>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card testimonial-card mx-3 align-items-center">
          <img class="card-img-top img-fluid rounded-circle" src="assets/img/testimonial-4.JPG" alt="Cliente 4">
          <div class="card-body text-center">
            <h4 class="card-title text-primary">Andrea Herrera</h4>
            <p class="card-text">Alquilé una bicicleta de montaña para un paseo por senderos, ¡y fue increíble! La bicicleta estaba en excelente estado, y el proceso de alquiler fue rápido y fácil.</p>
            <i class="text-muted d-block">Exploradora de la Naturaleza</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

