<form [formGroup]="bicicletaForm" (ngSubmit)="guardarBicicleta()" enctype="multipart/form-data">
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label for="modelo">Modelo</label>
                <input type="text" id="modelo" class="form-control" formControlName="modelo" required>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label for="tipo">Tipo</label>
                <input type="text" id="tipo" class="form-control" formControlName="tipo" required>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label for="estado">Estado</label>
                <input type="text" id="estado" class="form-control" formControlName="estado" required>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label for="precioPorHora">Precio por Hora</label>
                <input type="text" id="precioPorHora" class="form-control" formControlName="precioPorHora" required>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label for="descripcion">Descripción</label>
                <input type="text" id="descripcion" class="form-control" formControlName="descripcion">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label for="imagen">Imagen de Referencia</label>
                <input type="file" id="imagen" class="form-control" (change)="onFileChange($event)">
                (change)="onFileChange($event)">
            </div>
        </div>
    </div>

    <div class="row">
        <button class="btn btn-danger" type="button" (click)="guardarBicicleta()">Guardar</button>
    </div>
</form>