<div class="main-container">
    <app-nav></app-nav>
    <div class="container">
        <form [formGroup]="bicicletaForm" (ngSubmit)="guardarBicicleta()" enctype="multipart/form-data">
            <div class="row py-2">
                <div class="col-4">
                    <div class="form-group">
                        <label for="modelo">Modelo</label>
                        <input type="text" id="modelo" class="form-control" formControlName="modelo" required>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="tipo">Tipo</label>
                        <select id="tipo" class="form-control" formControlName="tipo" required>
                            <option value="Eléctrica">Eléctrica</option>
                            <option value="Tradicional">Tradicional</option>
                            <option value="Montaña">Montaña</option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="estado">Estado</label>
                        <select id="estado" class="form-control" formControlName="estado" required>
                            <option value="Muy bueno">Muy bueno</option>
                            <option value="Bueno">Bueno</option>
                            <option value="Regular">Regular</option>
                        </select>
                    </div>
                </div>

                <div class="col-4 py-2">
                    <div class="form-group">
                        <label for="precioPorHora">Precio por Hora</label>
                        <input type="text" id="precioPorHora" class="form-control" formControlName="precioPorHora"
                            required pattern="[0-9]+(\.[0-9]+)?">
                        <small class="form-text text-muted">(EJ 1.50).</small>
                    </div>
                </div>
                <div class="col-4 py-2">
                    <div class="form-group">
                        <label for="descripcion">Descripción</label>
                        <input type="text" id="descripcion" class="form-control" formControlName="descripcion">
                    </div>
                </div>
                <div class="col-4 py-2">
                    <div class="form-group">
                        <label for="imagen">Imagen de Referencia</label>
                        <input type="file" id="imagen" class="form-control" (change)="onFileChange($event)">
                    </div>
                </div>
            </div>

            <app-ubicacion #ubicacionForm></app-ubicacion>
            <div class="mapa">
                <app-mapa></app-mapa>
            </div>
            <div class="row">
                <button class="btn btn-danger" type="button" [disabled]="!ubicacionForm.ubicacionForm.valid" (click)="guardarBicicleta()">Guardar</button>
            </div>
        </form>
    </div>

</div>
<app-footer></app-footer>