<!-- dashboard.component.html -->

<div class="container">

    <div class="row">

        <div class="col-12">
            <h2>Catálogo de Bicicletas</h2>
        </div>

        <div *ngFor="let product of listProduct" class="col-md-4 mb-4">

            <div class="card catalogo">

                <img *ngIf="product.PropietarioBicicletas && product.PropietarioBicicletas.length > 0 && product.PropietarioBicicletas[0].imagenReferencia"
                    [src]="getImageUrl(product.PropietarioBicicletas[0].imagenReferencia)" alt="Imagen de la bicicleta">

                <div class="card-body">

                    <h4><a>{{ product.Modelo || 'N/A' }}</a></h4>

                    <p>{{ product.Descripcion || 'N/A' }}</p>

                    <p>Estado: {{ product.Estado || 'N/A' }}</p>

                    <p>Precio por Hora: {{ product.PrecioPorHora | currency }}</p>

                    <button>
                        Reservar
                    </button>

                    <button (click)="updateProduct(product.BikeID, product)">
                        Editar
                    </button>

                    <ng-container *ngIf="product.BikeID !== undefined && product.BikeID !== null">
                        <button (click)="deleteProduct(product.BikeID)">
                            Eliminar
                        </button>
                    </ng-container>


                </div>

            </div>

        </div>

    </div>

</div>