<div class="container-fluid my-5">
  <h1 class="text-center my-4 text-primary font-weight-bold display-4" id="cuidado-bicicleta">Guía para Cuidar tu Bicicleta</h1>

  <div class="row">
    <div class="col-md-12 my-5 offset-md-1 col-lg-12">
      <!-- Contenido del artículo -->
      <p>La vida útil de tu bicicleta dependerá del cuidado que reciba durante su funcionamiento. A continuación, te presentamos 5 mandamientos para el cuidado de tu compañera de viajes y aventuras:</p>

      <!-- Lista de mandamientos -->
      <ol>
        <li><strong>No guardar en estado de suciedad:</strong> Limpia el cuadro y la transmisión después de cada ruta para evitar que la suciedad se fije en los componentes. Utiliza un balde con agua tibia y jabón, evitando el autolavado a alta presión.</li>
        <li><strong>No usar con componentes desgastados o dañados:</strong> Realiza revisiones regulares y asegúrate de adquirir repuestos originales y garantizados.</li>
        <li><strong>No manipular sin conocimiento ni herramientas necesarias:</strong> Acude a un especialista técnico o consulta guías para reparar componentes correctamente.</li>
        <li><strong>No voltear la bicicleta:</strong> Evita colocarla "boca abajo" si tienes frenos hidráulicos para prevenir problemas en los frenos. Utiliza soportes seguros.</li>
        <li><strong>No inflar - desinflar las llantas demasiadas veces:</strong> Revisa la presión antes de cada viaje y utiliza un inflador con medidor de presión. Ajusta la presión según el terreno.</li>
      </ol>

      <p>Recuerda seguir las recomendaciones del asesor de ventas, el manual de usuario y esta guía para mantener tu bicicleta en óptimas condiciones.</p>
        <!-- Video utilizando embed-responsive -->
        <div class="col-sm-12 col-md-4 offset-md-0 mx-auto">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item"  width="100%" height="400" src="https://www.youtube.com/embed/9kjSQlTAMUY?si=ffDTnMo9cVh3AKpv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item"  width="100%" height="400" src="https://www.youtube.com/embed/ZjUORKP0CMw?si=558qpGW8rPUxpgse" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </div>
  </div>
</div>

