<ng-container *ngIf="currentRoute !== 'agregar-bicicleta'; else agregarBicicleta">
  <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between 
    py-3 mb-4 me border-bottom bg-dark ">
    <div class="col-md-3  mb-2 mb-md-0">
      <a href="/catalogo" class="d-inline-flex link-body-emphasis text-decoration-none ">
        <img src="../../../assets/img/nodo.png" aria-label="Bootstrap" class="bi my-auto mx-5" width="45" role="img"
          alt="">
      </a>
    </div>
    <div class="me-0"></div>

    <div class="dropdown me-4">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Cuenta
      </button>
      <div class="dropdown-menu text-black bg-dark" aria-labelledby="dropdownMenuButton">
        <button class="dropdown-item bg-danger text-white" (click)="Logout()">Logout</button>
      </div>
    </div>
  </nav>
  <ng-container *ngIf="isAdmin">
    <div class="container" *ngIf="!modoEdicion">
      <h2>Detalles de Ubicación</h2>
      <p><strong>Nombre de la Ubicación:</strong> {{ ubicacionForm.get('NombreUbicacion').value }}</p>
      <p><strong>Dirección:</strong> {{ ubicacionForm.get('Direccion').value }}</p>
      <p><strong>Latitud:</strong> {{ ubicacionForm.get('Latitud').value }}</p>
      <p><strong>Longitud:</strong> {{ ubicacionForm.get('Longitud').value }}</p>

      <button class="btn btn-primary" (click)="toggleEditMode()">Editar</button>
    </div>

    <div class="container" *ngIf="modoEdicion">
      <h2>Editar Ubicación</h2>
      <form [formGroup]="ubicacionForm">
        <div class="form-group">
          <label for="NombreUbicacion">Nombre de la Ubicación</label>
          <input type="text" id="NombreUbicacion" class="form-control" formControlName="NombreUbicacion" required>
        </div>
        <div class="form-group">
          <label for="Direccion">Dirección</label>
          <input type="text" id="Direccion" class="form-control" formControlName="Direccion" required>
        </div>

        <button class="btn btn-success" (click)="saveChanges()">Guardar</button>
        <button class="btn btn-secondary" (click)="toggleEditMode()">Cancelar</button>
      </form>
    </div>
  </ng-container>

  <div class="mt-3">
    <button class="btn btn-danger text-white mx-2" (click)="ubicar()">Mi ubicación</button>
    <button class="btn btn-danger text-white mx-2" (click)="marcadores()">Marcadores</button>
    <button class="btn btn-danger text-white mx-2" (click)="recargar()">Recargar</button>
  </div>
  <hr>
  <div id="map"></div>
</ng-container>
<ng-template #agregarBicicleta>
  <div class="mt-3">
    <button class="btn btn-danger text-white mx-2" (click)="ubicar()">Mi ubicación</button>
    <button class="btn btn-danger text-white mx-2" (click)="recargar()">Recargar</button>
  </div>
  <hr>
  <p>Da click a la ubicación en el mapa</p>
  <div id="map"></div>
</ng-template>