<nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between 
    py-3 mb-4 border-bottom bg-dark">
  <div class="col-md-3  mb-2 mb-md-0">
    <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none ">
      <img src="../../../assets/img/nodo.png" aria-label="Bootstrap" class="bi my-auto mx-5" width="45" role="img"
        alt="">
    </a>
  </div>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
  </form>

  <button class="btn btn-danger me-3" (click)="Logout()">Logout</button>


</nav>