<div>

  <header class="my-4 text-center">
    <img src="../../../assets/img/nodo1.png" [routerLink]="['/']" class="col-6" alt="">
  </header>
  <hr>

  <div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-md-8">

        <form [formGroup]="myForm" (ngSubmit)="onSubmit()" autocomplete="off">

          <!-- Nombres y Apellidos -->
          <div class="row form-row">
            <div class="form-group col-md-6 py-1">
              <label class="form-label" for="inputNombres">Nombres</label>
              <input type="text" class="form-control" formControlName="name" placeholder="Ingrese su nombre">

            </div>
            <div class="form-group col-md-6 py-1">
              <label class="form-label" for="inputApellidos">Apellidos</label>
              <input type="text" class="form-control" formControlName="apellidos" placeholder="Ingrese sus apellidos">
              <!-- Agrega la validación de apellidos según tus requisitos -->
            </div>
          </div>

          <!-- Teléfono y Cedula/RUC -->
          <div class="row form-row">
            <div class="form-group col-md-6 py-1">
              <label class="form-label" for="inputTelefono">Teléfono</label>
              <input type="text" class="form-control" formControlName="telefono" placeholder="Ingrese su teléfono">
              <!-- Agrega la validación de teléfono según tus requisitos -->
            </div>
            <div class="form-group col-md-6 py-1">
              <label class="form-label" for="inputCedula">Cedula/RUC</label>
              <input type="text" class="form-control" formControlName="cedula" placeholder="Ingrese su cédula/RUC">

            </div>
          </div>

          <!-- Email y Contraseña -->
          <div class="row form-row">
            <div class="form-group col-md-6 py-1">
              <label class="form-label" for="inputEmail">Correo Electrónico</label>
              <input type="email" class="form-control" formControlName="email"
                placeholder="Ingrese su correo electrónico">

            </div>
            <div class="form-group col-md-6 py-1">
              <label class="form-label" for="inputPassword">Contraseña</label>
              <input type="password" class="form-control" formControlName="password"
                placeholder="Ingrese su contraseña">

            </div>
          </div>

          <!-- Confirmación de Email y Contraseña -->
          <div class="row form-row">
            <div class="form-group col-md-6 py-1">
              <label class="form-label" for="inputEmailConfirm">Confirmar Correo Electrónico</label>
              <input type="email" class="form-control" formControlName="emailConfirm"
                placeholder="Confirme su correo electrónico">

            </div>
            <div class="form-group col-md-6 py-1">
              <label class="form-label" for="inputPasswordConfirm">Confirmar Contraseña</label>
              <input type="password" class="form-control" formControlName="passwordConfirm"
                placeholder="Confirme su contraseña">

            </div>
          </div>

          <!-- Provincia, Ciudad y Código Postal -->
          <div class="row form-row">
            <div class="form-group col-md-6 py-1">
              <label class="form-label" for="inputProvincia">Provincia de residencia</label>
              <select class="form-control" formControlName="provincia">
                <option value="" selected>Seleccionar...</option>
                <option value="01">Azuay</option>
                <option value="02">Bolivar</option>
                <option value="03">Cañar</option>
                <option value="04">Carchi</option>
                <option value="05">Cotopaxi</option>
                <option value="06">Chimborazo</option>
                <option value="07">El Oro</option>
                <option value="08">Esmeraldas</option>
                <option value="09">Guayas</option>
                <option value="10">Imbabura</option>
                <option value="11">Loja</option>
                <option value="12">Los Ríos</option>
                <option value="13">Manabí</option>
                <option value="14">Morona Santiago</option>
                <option value="15">Napo</option>
                <option value="16">Pastaza</option>
                <option value="17">Pichincha</option>
                <option value="18">Tungurahua</option>
                <option value="19">Zamora Chinchipe</option>
                <option value="20">Galápagos</option>
                <option value="21">Sucumbíos</option>
                <option value="22">Orellana</option>
                <option value="23">Santo Domingo de los Tsáchilas</option>
                <option value="24">Santa Elena</option>
              </select>

            </div>
            <div class="form-group col-md-6 py-1">
              <label class="form-label" for="inputCodigoPostal">Código Postal</label>
              <input type="text" class="form-control" formControlName="codigoPostal"
                placeholder="Ingrese su código postal">

            </div>
          </div>



          <!-- Términos y Condiciones -->
          <div class="form-group my-3 ms-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" formControlName="terminos" id="gridCheck">
              <label class="form-check-label" for="gridCheck">
                He leído y acepto los <a href="#">términos y condiciones de uso</a>
              </label>

            </div>
          </div>

          <div class="d-grid">
            <button class="btn btn-primary btn-dark" type="submit">
              Crear
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>

  <app-footer>
  </app-footer>
</div>