<app-nav></app-nav>
<div class>
  <div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-md-8">

        <form [formGroup]="myForm" (ngSubmit)="onSubmit()" autocomplete="off">
          <h1 class="h1 fw-bold mb-0 text-center py-2">Registro de Usuario</h1>

          <!-- Nombres y Apellidos -->
          <div class="row form-row">
            <div class="form-group col-md-6 py-1">
              <label class="form-label" for="inputNombres">Nombres</label>
              <input type="text" class="form-control" formControlName="nombre" placeholder="Ingrese su nombre">
              <!-- Alerta Nombres -->
              <div class="col-md-12 py-1.5">
                <div *ngIf="
                  myForm.get('nombre')?.invalid && myForm.get('nombre')?.touched
                " class="alert alert-danger">
                  <div *ngIf="myForm.get('nombre')?.errors?.['required']">
                    El nombre es obligatorio
                  </div>
                  <div *ngIf="myForm.get('nombre')?.errors?.['pattern']">
                    El nombre debe contener solo letras
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6 py-1">
              <label class="form-label" for="inputApellidos">Apellidos</label>
              <input type="text" class="form-control" formControlName="apellidos" placeholder="Ingrese sus apellidos">
              <!-- Agrega la validación de apellidos según tus requisitos -->
              <!-- Alerta Apellido -->
              <div class="col-md-12  py-1.5">
                <div *ngIf="
                myForm.get('apellidos')?.invalid &&
                myForm.get('apellidos')?.touched
              " class="alert alert-danger">
                  <div *ngIf="myForm.get('apellidos')?.errors?.['required']">
                    El apellido es obligatorio
                  </div>
                  <div *ngIf="myForm.get('apellidos')?.errors?.['pattern']">
                    El apellido debe contener solo letras
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Teléfono y Cedula-->
          <div class="row form-row">
            <div class="form-group col-md-6 py-1">
              <label class="form-label" for="inputTelefono">Teléfono</label>
              <input type="text" class="form-control" formControlName="telefono" placeholder="Ingrese su teléfono">
              <!-- Agrega la validación de teléfono según tus requisitos -->
              <!-- Alerta Teléfono -->
              <div class="col-md-12  py-1.5">
                <div *ngIf="
                  myForm.get('telefono')?.invalid &&
                  myForm.get('telefono')?.touched
                " class="alert alert-danger">
                  <div *ngIf="myForm.get('telefono')?.errors?.['required']">
                    El teléfono es obligatorio
                  </div>
                  <div *ngIf="myForm.get('telefono')?.errors?.['pattern']">
                    El teléfono debe contener solo números
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6 py-1">
              <label class="form-label" for="inputCedula">Cedula</label>
              <input type="text" class="form-control" formControlName="cedula" placeholder="Ingrese su cédula">
              <!-- Alerta Cédula -->
              <div class="col-md-12 py-1.5">
                <div *ngIf="
                myForm.get('cedula')?.invalid && myForm.get('cedula')?.touched
              " class="alert alert-danger">
                  <div *ngIf="myForm.get('cedula')?.errors?.['required']">
                    La cédula es obligatoria
                  </div>
                  <div *ngIf="myForm.get('cedula')?.errors?.['pattern']">
                    La cédula debe contener solo números
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Email y Contraseña -->
          <div class="row form-row">
            <div class="form-group col-md-6 py-1">
              <label class="form-label" for="inputEmail">Correo Electrónico</label>
              <input type="email" class="form-control" formControlName="CorreoElectronico"
                placeholder="Ingrese su correo electrónico">
              <!-- Alerta Email -->
              <div class="col-md-12 py-1.5">
                <div *ngIf="
                  myForm.get('CorreoElectronico')?.invalid &&
                  myForm.get('CorreoElectronico')?.touched
                " class="alert alert-danger">
                  <div *ngIf="myForm.get('CorreoElectronico')?.errors?.['required']">
                    El correo electrónico es obligatorio
                  </div>
                  <div *ngIf="myForm.get('CorreoElectronico')?.errors?.['pattern']">
                    El correo electrónico debe contener un formato válido
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6 py-1">
              <label class="form-label" for="inputPassword">Contraseña</label>
              <input type="password" class="form-control" formControlName="Contraseña"
                placeholder="Ingrese su contraseña">
              <!--Alerta Contraseña -->
              <div class="col-md-12 py-1.5">
                <div *ngIf="
                                myForm.get('Contraseña')?.invalid &&
                                myForm.get('Contraseña')?.touched
                              " class="alert alert-danger">
                  <div *ngIf="myForm.get('Contraseña')?.errors?.['required']">
                    La contraseña es obligatoria
                  </div>
                  <div *ngIf="myForm.get('Contraseña')?.errors?.['pattern']">
                    La contraseña debe contener al menos 8 caracteres, una letra mayúscula, una letra minúscula y un
                    número
                  </div>
                </div>
              </div>

            </div>
          </div>

          <!-- Confirmación de Email y Contraseña -->
          <div class="row form-row">
            <div class="form-group col-md-6 py-1">
              <label class="form-label" for="inputEmailConfirm">Confirmar Correo Electrónico</label>
              <input type="email" class="form-control" formControlName="emailConfirm"
                placeholder="Confirme su correo electrónico">
              <!-- Alerta Confirmación de Correo Electronico -->
              <div class="col-md-12 py-1.5">
                <div *ngIf="
                  myForm.get('emailConfirm')?.invalid &&
                  myForm.get('emailConfirm')?.touched
                " class="alert alert-danger">
                  <div *ngIf="myForm.get('emailConfirm')?.errors?.['required']">
                    La confirmación del correo electrónico es obligatoria
                  </div>
                  <div *ngIf="myForm.get('emailConfirm')?.errors?.['pattern']">
                    La confirmación del correo electrónico debe contener un formato válido
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6 py-1">
              <label class="form-label" for="inputPasswordConfirm">Confirmar Contraseña</label>
              <input type="password" class="form-control" formControlName="passwordConfirm"
                placeholder="Confirme su contraseña">
              <!-- Alerta Confirmación de Contraseña -->
              <div class="col-md-12 py-1.5 ">
                <div *ngIf="
                  myForm.get('passwordConfirm')?.invalid &&
                  myForm.get('passwordConfirm')?.touched
                " class="alert alert-danger">
                  <div *ngIf="myForm.get('passwordConfirm')?.errors?.['required']">
                    La confirmación de la contraseña es obligatoria
                  </div>
                  <div *ngIf="myForm.get('passwordConfirm')?.errors?.['pattern']">
                    La confirmación de la contraseña debe contener al menos 8 caracteres, una letra mayúscula, una letra
                    minúscula y un número
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Provincia, Ciudad y Código Postal -->
          <div class="row form-row">
            <div class="form-group col-md-6 py-1">
              <label class="form-label" for="inputProvincia">Provincia de residencia</label>
              <select class="form-control" formControlName="provincia">
                <option value="" selected>Seleccionar...</option>
                <option value="01">Azuay</option>
                <option value="02">Bolivar</option>
                <option value="03">Cañar</option>
                <option value="04">Carchi</option>
                <option value="05">Cotopaxi</option>
                <option value="06">Chimborazo</option>
                <option value="07">El Oro</option>
                <option value="08">Esmeraldas</option>
                <option value="09">Guayas</option>
                <option value="10">Imbabura</option>
                <option value="11">Loja</option>
                <option value="12">Los Ríos</option>
                <option value="13">Manabí</option>
                <option value="14">Morona Santiago</option>
                <option value="15">Napo</option>
                <option value="16">Pastaza</option>
                <option value="17">Pichincha</option>
                <option value="18">Tungurahua</option>
                <option value="19">Zamora Chinchipe</option>
                <option value="20">Galápagos</option>
                <option value="21">Sucumbíos</option>
                <option value="22">Orellana</option>
                <option value="23">Santo Domingo de los Tsáchilas</option>
                <option value="24">Santa Elena</option>
              </select>

            </div>
            <div class="form-group col-md-6 py-1">
              <label class="form-label" for="inputCodigoPostal">Dirección</label>
              <input type="text" class="form-control" formControlName="Direccion" placeholder="Ingrese su Dirección">
              <!-- Alerta Direccion -->
              <div class="col-md-12 ">
                <div *ngIf="
                              myForm.get('Direccion')?.invalid &&
                              myForm.get('Direccion')?.touched
                            " class="alert alert-danger">
                  <div *ngIf="myForm.get('Direccion')?.errors?.['required']">
                    La dirección es obligatoria
                  </div>
                  <div *ngIf="myForm.get('Direccion')?.errors?.['pattern']">
                    La dirección debe contener solo letras
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Términos y Condiciones -->
          <div class="form-group my-3 ms-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" formControlName="terminos" id="gridCheck">
              <label class="form-check-label" for="gridCheck">
                He leído y acepto los <a href="#">términos y condiciones de uso</a>
              </label>

            </div>
          </div>

          <div class="d-grid">
            <button class="btn btn-primary btn-dark" [disabled]="myForm.invalid" type="submit">
              Crear
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
  <app-footer>
  </app-footer>
</div>
