<app-nav></app-nav>
<div class="container" *ngIf="user">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://media.wired.com/photos/61afb905d184762c75e00411/master/pass/Gear-Jackbrabbit-Bike-Yellow-top.jpg"
                                alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>{{ (user.Nombre || 'Nombre Desconocido').split(' ')[0] || 'Nombre Desconocido' }}!
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Usuario</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ (user.Nombre || 'Nombre Desconocido') }} {{ (user.Apellido || 'Apellido Desconocido')
                                }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Correo Electrónico</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ (user.CorreoElectronico || 'Correo Desconocido') }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Teléfono</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <span *ngIf="!editMode">{{ (user.Telefono || 'Telefono Desconocido') }}</span>
                                <input *ngIf="editMode" [(ngModel)]="editedUser.Telefono" class="form-control">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Dirección</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <span *ngIf="!editMode">{{ (user.Direccion || 'Direccion Desconocida') }}</span>
                                <input *ngIf="editMode" [(ngModel)]="editedUser.Direccion" class="form-control">
                            </div>
                        </div>
                        <hr>
                        <div class="mt-3 text-end">
                            <button class="btn btn-info" *ngIf="!editMode" (click)="enableEditMode()">Editar</button>
                            <button class="btn btn-success" *ngIf="editMode" (click)="saveChanges()">Guardar</button>
                        </div>
                    </div>
                </div>
                <div class="row gutters-sm">
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3"><i
                                        class="material-icons text-info mr-2">assignment</i>Rentas en curso</h6>

                                <div class="list-group">
                                    <div *ngFor="let pago of rentaActual" class="list-group-item mb-3">
                                        <div class="d-flex w-100 justify-content-between">
                                            <div class="col">
                                                <div class="progress progress-sm mr-2">

                                                    <div class="progress-bar bg-info" role="progressbar" style="width: {{calcularPorcentajeTranscurrido(pago.FechaInicio,
                                                                pago.FechaFin)}}%" aria-valuenow="50" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                            <small class="mx-3">{{calcularPorcentajeTranscurrido(pago.FechaInicio,
                                                pago.FechaFin)}}%</small>
                                        </div>
                                        <small class="mb-1">Fecha de Fin: {{ pago.FechaFin |
                                            date:'short'}}</small>
                                        <h5 class="mb-1">Modelo: {{ pago.Modelo }}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3"><i
                                        class="material-icons text-info mr-2">assignment</i>Historial de pagos
                                </h6>

                                <div class="list-group">
                                    <div *ngFor="let pago of (mostrarMas ? historialPagos : historialPagos.slice(0, 3))"
                                        class="list-group-item mb-3">

                                        <div class="d-flex w-100 justify-content-between">
                                            <small>Fecha de Inicio: {{ pago.FechaInicio | date:'short' }}</small>
                                            <small class="mb-1">Fecha de Fin: {{ pago.FechaFin | date:'short' }}</small>
                                        </div>
                                        <h5 class="mb-1">Modelo: {{ pago.Modelo }}</h5>
                                        <p class="mb-1">Monto Total: ${{ pago.MontoTotal }}</p>
                                    </div>
                                    <button (click)="mostrarMas = !mostrarMas" class="btn btn-primary">{{ mostrarMas ?
                                        'Mostrar menos' : 'Mostrar más' }}</button>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>