<section class="container my-5">
  <h1 class="text-center my-4 text-primary font-weight-bold display-4">CONTACTOS</h1>

  <div class="row mx-0 mt-4">

    <!-- Información de Contacto -->
    <div class="col-md-6 mb-4">
      <h4 class="text-primary text-uppercase mb-3" style="letter-spacing: 2px;">Contáctanos</h4>
      <p><i class="fa fa-map-marker-alt mr-2"></i> Dirección: Mexico y Curazao Centro de Negocios Quo Hub.</p>
      <p><i class="fa fa-phone-alt mr-2"></i> (07) 2102999</p>
      <p class="m-0"><i class="fa fa-envelope mr-2"></i> info&#64;electritelecom.com</p>
    </div>

    <!-- Redes Sociales -->
    <div class="col-md-6 mb-4">
      <h4 class="text-primary text-uppercase mb-3" style="letter-spacing: 2px;">Síguenos</h4>
      <p>Descubre nuevas rutas con Nodo Travel</p>
      <div class="d-flex justify-content-start">
        <a class="btn btn-outline-primary btn-lg-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
        <a class="btn btn-outline-primary btn-lg-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-outline-primary btn-lg-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
        <a class="btn btn-outline-primary btn-lg-square" href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>

    <!-- Horario de Atención -->
    <div class="col-md-6 mb-4">
      <h4 class="text-primary text-uppercase mb-3" style="letter-spacing: 2px;">Horario de Atención</h4>
      <div>
        <h6 class="text-primary text-uppercase">Lunes</h6>
        <p>6.00 AM - 10.00 PM</p>
        <h6 class="text-primary text-uppercase">Martes</h6>
        <p>6.00 AM - 10.00 PM</p>
        <h6 class="text-primary text-uppercase">Miércoles</h6>
        <p>6.00 AM - 10.00 PM</p>
        <h6 class="text-primary text-uppercase">Jueves</h6>
        <p>6.00 AM - 10.00 PM</p>
        <h6 class="text-primary text-uppercase">Viernes</h6>
        <p>6.00 AM - 10.00 PM</p>
        <h6 class="text-primary text-uppercase">Sábado</h6>
        <p>8.00 AM - 8.00 PM</p>
        <h6 class="text-primary text-uppercase">Domingo</h6>
        <p>8.00 AM - 8.00 PM</p>
      </div>
    </div>

    <!-- Información de Renta de Bicicletas -->
    <div class="col-md-6 mb-4">
      <h4 class="text-primary text-uppercase mb-3" style="letter-spacing: 2px;">Renta de Bicicletas</h4>
      <p>¡Explora la ciudad en dos ruedas con nuestro servicio de renta de bicicletas! Ofrecemos una amplia variedad de bicicletas para adaptarse a tus necesidades de viaje. Disfruta de la movilidad sostenible y saludable con Nodo Travel.</p>
      <p>Consulta nuestras tarifas y opciones de alquiler para comenzar tu aventura en bicicleta.</p>
    </div>

  </div>
  <div class="container-fluid py-5">
    <div class="container">
      <div class="section-title text-center mb-5">
        <h1 class="text-primary text-uppercase" style="letter-spacing: 5px;">Testimonios</h1>
        <h2 class="display-4">Lo que dicen nuestros clientes</h2>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card testimonial-card mx-3 align-items-center">
            <img class="card-img-top img-fluid rounded-circle" src="assets/img/testimonial-1.JPG" alt="Cliente 1">
            <div class="card-body text-center">
              <h4 class="card-title text-primary">José Carrasco</h4>
              <p class="card-text">Tuve una experiencia increíble recorriendo las montañas con una bicicleta de montaña alquilada. ¡El servicio fue excelente y las bicicletas estaban en perfecto estado!</p>
              <i class="text-muted d-block">Amante de las Bicicletas de Montaña</i>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card testimonial-card mx-3 align-items-center">
            <img class="card-img-top img-fluid rounded-circle" src="assets/img/testimonial-2.JPG" alt="Cliente 2">
            <div class="card-body text-center">
              <h4 class="card-title text-primary">Isabel Mendoza</h4>
              <p class="card-text">La variedad de bicicletas urbanas disponibles para alquilar es asombrosa. Encontré la bicicleta perfecta para explorar la ciudad. ¡Altamente recomendado!</p>
              <i class="text-muted d-block">Ciclista Urbana Apasionada</i>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card testimonial-card mx-3 align-items-center">
            <img class="card-img-top img-fluid rounded-circle" src="assets/img/testimonial-3.JPG" alt="Cliente 3">
            <div class="card-body text-center">
              <h4 class="card-title text-primary">Miguel Cevallos</h4>
              <p class="card-text">Alquilé una bicicleta eléctrica y mi aventura fue aún más emocionante. ¡Fue una experiencia increíble descubrir nuevos lugares sin esfuerzo!</p>
              <i class="text-muted d-block">Aventurero Ciclista</i>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card testimonial-card mx-3 align-items-center">
            <img class="card-img-top img-fluid rounded-circle" src="assets/img/testimonial-4.JPG" alt="Cliente 4">
            <div class="card-body text-center">
              <h4 class="card-title text-primary">Andrea Herrera</h4>
              <p class="card-text">Alquilé una bicicleta de montaña para un paseo por senderos, ¡y fue increíble! La bicicleta estaba en excelente estado, y el proceso de alquiler fue rápido y fácil.</p>
              <i class="text-muted d-block">Exploradora de la Naturaleza</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

