<div class="background-image-container col-sm-12"></div>


<div class="container">

    <header class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">

            <img src="../../../assets/img/nodo1.png" alt="Logo" class="img-fluid">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p class="centrado my-5 mx-5">¿Estás listo para una experiencia única sobre dos ruedas?
                Bienvenido a nuestro mundo de aventuras sobre bicicleta.
                En nuestra página, te ofrecemos un emocionante viaje a través de la ciudad,
                donde la movilidad se encuentra con la sostenibilidad. Te invitamos a descubrir
                una forma más ecológica, saludable y emocionante de moverte por tu entorno.</p>
        </div>
    </header>
</div>
