<section class="container Contenido text-center">
    <div class="row">
      <div class="col-12">
        <h1 class="centrado text-danger text-center">Explora el mundo en bicicleta</h1>
        <h2 class="centrado my-4">Descubre la libertad de recorrer la ciudad en dos ruedas</h2>
        <p class="centrado">En nuestro servicio de arriendo de bicicletas, encontrarás una amplia variedad
          de opciones, desde bicicletas urbanas cómodas y ágiles hasta bicicletas de montaña
          robustas para los amantes de la naturaleza. Ya sea que desees explorar el corazón
          de la ciudad, disfrutar de un paseo relajado por el parque o aventurarte en emocionantes
          senderos, tenemos la bicicleta perfecta para ti.</p>
      </div>
      <div class="col-12 text-center">
        <img src="assets/img/Bicicleta_1.png" class="img-fluid" alt="">
      </div>
    </div>
  </section>
  <h1 class="centrado my-4 text-white text-center bold">Tarifas de Alquiler</h1>
  <div class="container ">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 ">
        <table class="table table-dark border border-secondary centrado">
          <thead>
            <tr>
              <th>Tipo de Bicicleta</th>
              <th>Precio por Hora</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Bicicleta de Montaña</td>
              <td>$4.50</td>
            </tr>
            <tr>
              <td>Bicicleta Urbana</td>
              <td>$5.00</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="container col-md-6">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
          <!-- Add more indicators if needed -->
        </ol>

        <div class="carousel-inner col">
          <div class="carousel-item active">
            <img src="assets/img/PI_1.jpg" class="d-block w-100" alt="Parque Jipiro"
              style="max-height: 300px; object-fit: cover;">
            <div class="carousel-caption  text-md-start">
              <hr>

              <h5 class="mb-0 text-center" style="font-weight: bold; font-size: 1.5rem;">Parque Jipiro</h5>
              <!-- Add more content as needed -->
            </div>
          </div>

          <div class="carousel-item">
            <img src="assets/img/PI_2.jpg" class="d-block w-100" alt="Parque Central"
              style="max-height: 300px; object-fit: cover;">
            <div class="carousel-caption  text-md-start">
              <hr>

              <h5 class="mb-0 text-center" style="font-weight: bold; font-size: 1.5rem;">Parque Central</h5>
              <!-- Add more content as needed -->
            </div>
          </div>

          <div class="carousel-item">
            <img src="assets/img/PI_3.jpg" class="d-block w-100" alt="Terminal Terrestre"
              style="max-height: 300px; object-fit: cover;">
            <div class="carousel-caption  text-md-start">
              <hr>

              <h5 class="mb-0 text-center" style="font-weight: bold; font-size: 1.5rem;">Terminal Terrestre</h5>
              <!-- Add more content as needed -->
            </div>
          </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <br>
