@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");
.ng-valid:not(form).ng-touched   {
    border-left: 5px solid #42A948; /* green */
  }

.ng-invalid:not(form).ng-touched  {
    border-left: 5px solid #a94442; /* red */
  }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
