<!-- Sección Nosotros -->
<section class="container my-5">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="col-12">
        <h1 class="text-center my-4 text-primary text-uppercase font-weight-bold display-4 " id="nosotros">NOSOTROS</h1>
        <p class="my-4 text-justify">
          Nodo Travel surgió como un desafío universitario que buscaba ofrecer una solución sencilla y eficiente para la renta de bicicletas,
          tanto en entornos urbanos como rurales.
        </p>
        <h2 class="text-dark my-4">Misión:</h2>
        <p class="my-4 text-justify">
          Registrar y entender las necesidades de nuestros clientes potenciales esencial para nuestro servicio de alquiler de bicicletas en Nodo Travel.
          Nos comprometemos a organizar y desarrollar servicios personalizados, mejorando continuamente para garantizar reservas y alquileres confiables a través de un
          proceso eficaz y fácil de usar. Contribuimos al desarrollo integral al facilitar la movilidad sostenible y saludable a través de nuestra plataforma.
        </p>
        <h2 class="text-dark my-4">Visión:</h2>
        <p class="my-4 text-justify">
          Destacarnos como líderes en la transformación de la movilidad urbana y rural. Queremos que nuestra plataforma sea reconocida por su eficiencia
          y confiabilidad, fomentando el uso masivo de la bicicleta como medio de transporte. Implementamos un cronograma eficiente de mantenimiento y reparación de bicicletas,
          asegurando su disponibilidad continua. Utilizamos tecnologías como GPS para optimizar la gestión de la ubicación de bicicletas en Loja, adaptándonos a las necesidades
          cambiantes de los usuarios y de la ciudad.
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="embed-responsive embed-responsive-16by9">
        <img class="img-fluid" src="assets/img/nodo1.png" alt="">
      </div>
    </div>
  </div>
</section>

