<nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between 
    py-3 mb-4 me border-bottom bg-dark ">
    <div class="col-md-3  mb-2 mb-md-0">
        <a href="/catalogo" class="d-inline-flex link-body-emphasis text-decoration-none ">
            <img src="../../../assets/img/nodo.png" aria-label="Bootstrap" class="bi my-auto mx-5" width="45" role="img"
                alt="">
        </a>
    </div>
    <div class="me-0"></div>

    <div class="dropdown me-4">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Cuenta
        </button>
        <div class="dropdown-menu text-black bg-dark" aria-labelledby="dropdownMenuButton">
            <button class="dropdown-item bg-danger text-white" (click)="Logout()">Logout</button>
        </div>
    </div>
</nav>
<div class="container">
    <h2>Carrito de Compras</h2>
    <div *ngFor="let item of carrito" class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ item.Modelo || 'N/A' }}</h5>
            <p class="card-text">Cantidad de Horas: {{ item.CantidadHoras || 0 }}</p>
        </div>
    </div>
    <form [formGroup]="carritoForm">
        <div class="form-group">
            <label for="cantidadHoras">Cantidad de Horas:</label>
            <input type="number" id="cantidadHoras" formControlName="cantidadHoras" class="form-control" min="1"
                required>
        </div>
        <a href="/catalogo">
            <button type="button" class="btn btn-primary" (click)="onAddToCart()">Agregar </button>
        </a>
    </form>
</div>