<app-nav></app-nav>
<div class="container">
    <div class="card mb-3">
        <div class="card-body">
            <div class="row g-0">
                <div class="col-6">
                    <img *ngIf="producto.PropietarioBicicletas?.length > 0"
                        [src]="getImageUrl(producto.PropietarioBicicletas[0]?.imagenReferencia)"
                        alt="Imagen de la bicicleta">
                </div>

                <div class="product-details col-6">
                    <h1 class="">{{ producto.Modelo || 'N/A' }}</h1>
                    <p><strong>Tipo:</strong> {{ producto.Tipo || 'N/A' }}</p>
                    <p><strong>Estado:</strong> {{ producto.Estado || 'N/A' }}</p>
                    <p><strong>Precio por Hora:</strong> {{ producto.PrecioPorHora || 'N/A' }}</p>
                    <p>{{ producto.Descripcion}}</p>

                    <form [formGroup]="carritoForm">
                        <div class="form-group">
                            <br>
                            <label for="cantidadHoras my-5">Cantidad de Horas:</label>
                            <input type="number" id="cantidadHoras" formControlName="cantidadHoras" class="form-control mt-2"
                                min="1" required>
                        </div>
                        <a href="/catalogo">
                            <div class="text-center">
                                <button type="button" class="btn btn-success my-3 col-3 btn-lg"
                                    (click)="onAddToCart()">Rentar </button>
                            </div>

                        </a>
                    </form>
                </div>

            </div>


        </div>
    </div>

</div>
<app-footer></app-footer>