<section class="container-fluid my-5 p-0">
  <h1 class="text-center my-4 text-primary font-weight-bold display-4" id="preguntas">PREGUNTAS FRECUENTES</h1>
  <br>
  <div class="row mx-0">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <div class="faq-item bg-light  rounded mb-4">
        <h4 class="text-primary mb-3">¿Cómo funciona el servicio de renta de bicicletas de Nodo Travel?</h4>
        <p class="text-dark">Explicación detallada del proceso de registro, búsqueda y alquiler de bicicletas a través de nuestra aplicación web.</p>
      </div>
      <div class="faq-item bg-light rounded mb-4">
        <h4 class="text-primary mb-3">¿Qué tipo de bicicletas puedo alquilar?</h4>
        <p class="text-dark">Puedes alquilar bicicletas de tres tipos: Tradicional, Eléctrica y de Montaña. Cada una ofrece una experiencia única para adaptarse a tus preferencias y necesidades de viaje.</p>
      </div>
      <div class="faq-item bg-light rounded mb-4">
        <h4 class="text-primary mb-3">¿Cuánto cuesta alquilar una bicicleta?</h4>
        <p class="text-dark">Después de la tarifa base, solo pagas por el tiempo de uso o de acuerdo al plan adquirido.</p>
      </div>
      <div class="faq-item bg-light rounded mb-4">
        <h4 class="text-primary mb-3">¿Hay estaciones específicas para recoger y devolver las bicicletas?</h4>
        <p class="text-dark">Sí, contamos con estaciones designadas para recoger y devolver las bicicletas, lo que facilita tu experiencia de alquiler y contribuye a mantener la orden y disponibilidad de las bicicletas.</p>
      </div>
      <div class="faq-item bg-light rounded mb-4">
        <h4 class="text-primary mb-3">¿Cómo puedo pagar el servicio de alquiler de bicicletas?</h4>
        <p class="text-dark">Aceptamos pagos a través de diversas plataformas, incluyendo tarjetas de crédito y servicios de pago en línea, para brindarte opciones convenientes y seguras.</p>
      </div>
    </div>
  </div>
</section>
